/*
    Basic shared CSS
        Added to create folder structure -Teemu
*/
body {
    position: relative;
    text-align: center;
    height: 100vh;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*
    Container containing the main things
*/

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
    Left toolbar
*/

#toolbar {
    position: absolute;
    left: 10px;
    top: 10px;
}

#draw {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 20px;
    background: lightgrey;
    color: black;
}

#animate {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 20px;
    background: lightgrey;
    color: black;
}

#toolbar label {
    display: block;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
}

#toolbar input {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 20px;
    background: lightgrey;
    color: black;
    float: left;
    clear: both;
}

#toolbar > svg {
    margin: 0 0 20px;
    float: left;
    clear: both;
}

input.mode-selected {
    background: #6b77be !important;
    color: #fff !important;
}

/*
    The main SVG
*/

#svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*
    Scrobbler
*/

#scrobblewrap {
    position: absolute;
    bottom: 5px;
    left: 130px;
    right: 10px;
    height: 50px;
}

#scrobble {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background: transparent;
}

#scrobble::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#scrobble::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 3px;
    border: 2px solid #45649c;
    background: #6b77be;
    height: 44px;
    width: 20px;
    margin-top: -11px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px;
}

#scrobble:focus {
    outline: none;
}


#scrobblewrap div.marker {
    position: absolute;
    display: block;
    top: 16px;
    bottom: 12px;
    width: 6px;
    background: #3e4b93;
    z-index: -5;
}

/*
    Play and stop buttons
*/

#play {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#reset {
    position: absolute;
    bottom: 5px;
    left: 70px;
}

#drawtool, #play, #reset {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: lightgrey;
}

.selected {
    background: lightgrey;
    border-style :inset;
}

/*
    Frame deleter cross
*/
div.framedeleter {
    position: absolute;
    left: -13px;
    top: -50px;
    width: 33px;
    height: 43px;
}